{% extends 'base.html.twig' %}

{% block title %}Edit TypeOfWork{% endblock %}

{% block body %}
    <h1>Edit TypeOfWork</h1>

    {{ include('type_of_work/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_of_work_index') }}">back to list</a>

    {{ include('type_of_work/_delete_form.html.twig') }}
{% endblock %}
