{% extends 'base.html.twig' %}

{% block title %}Добавление работника{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Добавить нового работника</h1>

        {{ include('worker/_form.html.twig') }}

        <a href="{{ path('app_worker_index') }}" class="btn btn-outline-primary" style="margin-top: 1em;">К списку
            работников</a>
    </div>
{% endblock %}
