{% extends 'base.html.twig' %}

{% block title %}Редактировать услугу{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Редактор услуги</h1>

        {{ include('service/_form.html.twig', {'button_label': 'Обновить'}) }}

        <a href="{{ path('app_service_index') }}" class="btn btn-primary">Вернуться к услугам</a>

        {{ include('service/_delete_form.html.twig') }}
    </div>
{% endblock %}
