{% extends 'base.html.twig' %}

{% block title %}Добавить услугу{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Добавить услугу</h1>

        {{ include('service/_form.html.twig') }}

        <a href="{{ path('app_service_index') }}" class="btn btn-primary">Вернуться к услугам</a>\
    </div>
{% endblock %}
