{% extends 'base.html.twig' %}

{% block title %}Редактирование материала{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Редактор материала</h1>

        {{ include('material/_form.html.twig', {'button_label': 'Обновить'}) }}

        <a href="{{ path('app_material_index') }}" class="btn btn-primary" style="margin-top: 1em;">Вернуться к
            материалам</a>

        {{ include('material/_delete_form.html.twig') }}

    </div>
{% endblock %}
