{% extends 'base.html.twig' %}

{% block title %}Новый материал{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Добавить материал</h1>

        {{ include('material/_form.html.twig') }}

        <a href="{{ path('app_material_index') }}" class="btn btn-primary">Вернуться к материалам</a>
    </div>
{% endblock %}
