{% extends 'base.html.twig' %}

{% block title %}Редактирование заказа{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Редактор заказа</h1>

        {{ include('custom/_form.html.twig', {'button_label': 'Обновить'}) }}

        <a href="{{ path('app_custom_index') }}">Вернуться к заказам</a>

        {{ include('custom/_delete_form.html.twig') }}
    </div>
{% endblock %}
