{% extends 'base.html.twig' %}

{% block title %}Редактирование клиента{% endblock %}

{% block body %}
    <h1>Редактор клиента</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Обновить'}) }}

    <div class="d-grid gap-2 d-md-block">
        <a href="{{ path('app_client_index') }}" class="btn btn-outline-primary "
           style="margin-top: 1em; margin-bottom: 1em">К сипску клиентов</a>

        {{ include('client/_delete_form.html.twig') }}
    </div>
{% endblock %}
