{% extends 'base.html.twig' %}

{% block title %}Добавление нового клиента{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Добавить нового клиента</h1>

        {{ include('client/_form.html.twig') }}

        <a href="{{ path('app_client_index') }}" class="btn btn-outline-primary" style="margin-top: 1em;">К списку
            клиентов</a>
    </div>
{% endblock %}
