{% extends 'base.html.twig' %}

{% block title %}Редактировать бокс{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Редактор бокса</h1>

        {{ include('bay/_form.html.twig', {'button_label': 'Обновить'}) }}

        <a href="{{ path('app_bay_index') }}" class="btn btn-primary" style="margin-top: 1em;">Вернуться к боксам</a>

        {{ include('bay/_delete_form.html.twig') }}
    </div>
{% endblock %}
