{% extends 'base.html.twig' %}

{% block title %}Edit Bay{% endblock %}

{% block body %}
    <h1>Edit Bay</h1>

    {{ include('bay/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bay_index') }}">back to list</a>

    {{ include('bay/_delete_form.html.twig') }}
{% endblock %}
