{% extends 'base.html.twig' %}

{% block title %}Добавить бокс{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>Добавить бокс</h1>

    {{ include('bay/_form.html.twig') }}

    <a href="{{ path('app_bay_index') }}" class="btn btn-primary" style="margin-top: 1em;">Вернуться к боксам</a>
    </div>
{% endblock %}
